h1 {
    font-family: 'Merriweather', serif;
    text-align: center;
    margin-bottom: -1%;
}

h2 {
    text-align: center;
    margin-bottom: -1%;
    text-decoration: underline;
}

h3 {
    text-align: center;
    margin-bottom: -1%;
}

section {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

p {
    text-align: center;
    font-family: 'Barlow Semi Condensed', sans-serif;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

ul {
    margin-top: 0;
}

li {
    list-style-type: none;
}

img {
    size-adjust: 50%;
}

table {
    table-layout: fixed;
    max-width: 50%;
}

td {
    border: 2px solid black;
    text-align: center;
    padding: 20px;
}

.about-container {
    background-color: #abb8c3;
}

.about-content {
    max-width: 900px;
    margin: 0 auto;
    padding: 30px;
    background-color: #abb8c3;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    overflow: hidden;
    transition: box-shadow 0.3s ease;
}

.main-heading {
    text-align: center;
    font-size: 2.8rem;
    color: #333;
    margin-bottom: 30px;
}

.mission-section,
.services-section,
.board-members-section,
.partnerships-section,
.contact-section {
    padding: 30px;
    margin-bottom: 40px;
    background-color: #abb8c3;
    border-radius: 15px;
}

#mission,
#services,
#partnerships,
#contact {
    color: #e44d26;
    font-size: 2rem;
    margin-bottom: 20px;
}

.services-section ul {
    list-style-type: disc;
    margin-left: 20px;
}

.board-members {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.board-member {
    width: 45%;
    margin-bottom: 30px;
    text-align: center;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.board-member:hover {
    transform: scale(1.05);
}

.board-member-image {
    width: 100%;
    height: auto;
    border-radius: 15px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

.partnerships-section p,
.contact-section p {
    font-size: 1.2rem;
    line-height: 1.6;
}

/* Responsive Design */
@media screen and (max-width: 768px) {
    .board-member {
        width: 100%;
    }
}
.about-container {
    background: linear-gradient(135deg, #bedde7, #abb8c3); /* Gradient background with two shades */
}

.about-content {
    max-width: 900px;
    margin: 0 auto;
    padding: 30px;
    background: linear-gradient(135deg, #bedde7, #abb8c3); /* Matching gradient background */
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    overflow: hidden;
    transition: box-shadow 0.3s ease;
}