/* ANIMATION */
@keyframes fade-up {
    0% {
        opacity: 0;
        transform: translateY(30px) scale(0.9);
    }
    100% {
        opacity: 1;
        transform: translateY(0px) scale(1);
    }
}

/* do not overwrite, will affect the header */
p {
    text-align: right;
    font-family: 'Barlow Semi Condensed', sans-serif;
    width: 100%;
    margin: auto;
}

/* titles for the page, USE CLASS NAMES TO NOT MESS UP OTHER PAGES */
#missiontitle,
#servicestitle,
#boardtitle,
#partnershipstitle,
#contacttitle {
    text-align: center;
    text-decoration: none;
    color: #00989e;
    font-size: 2.5rem;
    margin-bottom: 20px;
    animation: fade-up 1.5s;
    font-family: 'Barlow Semi Condensed', sans-serif;
}


#member-name {
    font-family: 'Merriweather', serif;
    text-align: center;
}

/* p for this specific page */
.aboutwrittencontent{
    text-align: center;
    font-family: 'Barlow Semi Condensed', sans-serif;
    width: 100%;
    margin: auto;
}

.about-container {
    background-color: #abb8c3;
}

.about-heading {
    text-align: center;
    font-size: 2.8rem;
    color: #333;
    margin-bottom: 1%;

    font-family: 'Merriweather', serif;
    text-align: center;
    animation: fade-up .75s;
}

.mission-section,
.services-section,
.board-members-section,
.partnerships-section,
.contact-section {
    margin-bottom: 40px;
    background-color: #ffffff;
    border-radius: 15px;
    width: 90%;
    margin-left: auto;
    animation: fade-up 1.5s;
}

.mission-content {
    display: flex;
    align-items: center;
    font-size: 23px;
    padding: 30px;
}
.sidewords {
    width: 100%;
    height: 100%;
    padding-right: 2%;
}
.shelterbuilding {
max-width: 40%;
}

.services-content {
    font-size: 20px;
}

.mission-content,
.services-content,
.board-members,
.partnerships-content,
.contact-content {
    padding: 30px;
}

.board-members {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.board-member {
    width: 45%;
    margin-bottom: 30px;
    text-align: center;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}
.board-member:hover {
    transform: scale(1.05);
    background-color: #bedde7;
}

.board-member-image {
    max-width: 50%;
    height: auto;
    border-radius: 15px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

.partnerships-section p,
.contact-section p {
    font-size: 1.2rem;
    line-height: 1.6;
}

/* Responsive Design */
@media screen and (max-width: 768px) {
    .board-member {
        width: 100%;
    }
}
.about-container {
    background: linear-gradient(135deg, #dbebf0, #abb8c3); /* Gradient background with two shades */
}

.about-content {
    max-width:100%;
    margin: 0 auto;
    padding: 10px;
    background: linear-gradient(135deg, #dbebf0, #abb8c3); /* Matching gradient background */
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    overflow: hidden;
    transition: box-shadow 0.3s ease;
}