.heading {
    font-size:300%;
    font-weight: bolder;
}

.whatIsMH {
    font-size: large;
    text-align: center;
    font-weight: bold;
}

.MHis{
    font-size: medium;
    text-align: center;
    text-decoration: none;
}

.MHcond {
    font-weight: bold;
    text-align: center;
    font-size: large;
}
.MHfactors {
    font-size: medium;
    text-align: center;
}

.MHtopics {
    font-size: large;
    text-align: center;
    font-weight: bold;
}

.body {
    text-align: center;
}