.heading {
    font-size:300%;
    font-weight: bolder;
}

.h1 {
    font-size: large;
    text-align: center;
    font-weight: bold;
}

.h2{
    font-size: medium;
    text-align: center;
    text-decoration: none;
}

.h3 {
    font-weight: bold;
    text-align: center;
}
.h4 {
    font-size: medium;
    text-align: center;
}

.h5 {
    font-size: medium;
    text-align: center;
}

.div {
    text-align: center;
}