.container {
    display: flex;
    color: white;
    background-color: #00989e;
    width: 100vw;
  }
  
  .row1, .row2, .row3 {
    margin-top: 2%;
  }


  .row1 {
    margin-left: 30%;
    flex: 0.6;
  }

  .row2 {
    margin-left: 3%;
    flex: 1;
  }


  .title {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 22px;
    margin-bottom: 0.8%;
  }

  .content {
    font-family: 'Barlow Semi Condensed', sans-serif;
    font-size: 19px;
    font-weight: 500;
    margin-bottom: 3%;
  }

  .Links {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 19px;
    margin-bottom: 2%;
    width: 130px;
    cursor: pointer;

    &:hover {
        text-decoration: underline;
    }
  }
