.header {
    display: flex;
    align-items: center;
    font-family: 'Bebas Neue', sans-serif;
    background-color: #00989e;
    font-size: 18px;
    color: white;
}

.Logo {
    margin-left: 3%;
    width: 200px;
    height: 65px;
    border: none;
}

.About {
    padding-left: 35%;
}

.Career , .Mental, .Emergency, .Donation{
    padding-left: 6%;
}