.header {
    display: flex;
    align-items: center;
    font-family: 'Bebas Neue', sans-serif;
    background-color: #00989e;
    font-size: 18px;
    color: white;
    width: 100vw;
}

.Logo {
    margin-left: 3%;
    width: 230px;
    height: 65px;
    border: none;
    cursor: pointer;
}
.Empty {
    margin-left: 7%;
}

.About, .Career, .Mental, .Emergency, .Donation{
    cursor: pointer;
    transition: color 0.5s ease-in-out;
    &:hover {
        color: #004840;
    }
}
